.error-card {
  display: flex;
  width: 480px;
  height: 56px;
  background-color: #0F1318;
  border-radius: 4px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.error-icon {
  width: 28px;
  height: 28px;
}
.error-message {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}