@font-face {
  font-family: 'Tactic Sans';
  src: url('./assets/fonts/tactic-sans-bold.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Inter', sans-serif;
}
